@inherits LayoutComponentBase
@inject IJSInProcessRuntime JSRuntime

<CascadingValue Value="this" Name="MainLayout">
    <Layout>
        @if (ShowHeader)
        {
            <LayoutHeader>
                <Bar Breakpoint="Breakpoint.Desktop" Border="Border.Is3.OnBottom.Primary" @ref="layoutBar">
                    <BarBrand>
                        <Div Flex="Flex.AlignItems.End">
                            <Figure Size="FigureSize.Is48x48" Margin="Margin.Is0">
                                <FigureImage Source="icon-192.png" />
                            </Figure>
                            <Heading Size="HeadingSize.Is5" Style="user-select: none">AzToolbox</Heading>
                        </Div>
                    </BarBrand>
                    @if (OnDesktop)
                    {
                        <Div Class="barSplitter" />
                    }
                    <BarToggler />
                    <BarMenu>
                        <BarStart>
                            <BarItem>
                                <BarLink To="/">Home</BarLink>
                            </BarItem>
                            <BarItem>
                                <BarDropdown>
                                    <BarDropdownToggle>Common</BarDropdownToggle>
                                    <BarDropdownMenu>
                                        <BarDropdownItem To="/Common/Base64Utils">Base64 Utils</BarDropdownItem>
                                        <BarDropdownItem To="/Common/RngUtils">Random Generator</BarDropdownItem>
                                        <BarDropdownItem To="/Common/Reverse">Reverse String</BarDropdownItem>
                                        <BarDropdownItem To="/Common/DummyFileCreator">Dummy File Creator</BarDropdownItem>
                                        <BarDropdownItem To="/Common/HEXEH">HEX Interpreter</BarDropdownItem>
                                        <BarDropdownItem To="/Common/SubtleCrypto">SubtleCrypto</BarDropdownItem>
                                    </BarDropdownMenu>
                                </BarDropdown>
                            </BarItem>
                            <BarItem>
                                <BarDropdown>
                                    <BarDropdownToggle>Windows</BarDropdownToggle>
                                    <BarDropdownMenu>
                                        <BarDropdownItem To="/Windows/VpnBuild">VPN ProfileXML Builder</BarDropdownItem>
                                        <BarDropdownItem To="/Windows/WfpAnalyze">WFP Trace Analyze</BarDropdownItem>
                                        <BarDropdownItem To="/Windows/SecDescriptor">Security Descriptor Tool</BarDropdownItem>
                                    </BarDropdownMenu>
                                </BarDropdown>
                            </BarItem>
                            <BarItem>
                                <BarDropdown>
                                    <BarDropdownToggle>Networking</BarDropdownToggle>
                                    <BarDropdownMenu>
                                        <BarDropdownItem To="/Networking/PacParse">PAC Parse</BarDropdownItem>
                                        <BarDropdownItem To="/Networking/DhcpSearchList">DHCP Option 119 Tool</BarDropdownItem>
                                        <BarDropdownItem To="/Networking/BDPCalc">BDP Calculator</BarDropdownItem>
                                        <BarDropdownItem To="/Networking/ULAGen">IPv6 ULA Generator</BarDropdownItem>
                                        <BarDropdownItem To="/Networking/DnsZoneFile">DNS Zone File Builder</BarDropdownItem>
                                    </BarDropdownMenu>
                                </BarDropdown>
                            </BarItem>
                            <BarItem>
                                <BarDropdown>
                                    <BarDropdownToggle>Experimental</BarDropdownToggle>
                                    <BarDropdownMenu>
                                        <BarDropdownItem To="/Experimental/ArcReader">Archive Reader</BarDropdownItem>
                                    </BarDropdownMenu>
                                </BarDropdown>
                            </BarItem>
                        </BarStart>
                    </BarMenu>
                </Bar>
            </LayoutHeader>
        }
        <LayoutContent Margin="Margin.Is3">
            <!--<Button Clicked="DebugClick">DEBUG BUTTON</Button>-->
            @Body
        </LayoutContent>
        @if (ShowFooter)
        {
            <LayoutFooter>
                <Paragraph TextAlignment="TextAlignment.End" Margin="Margin.Is1" Style="font-size:small; user-select: none">
                    &copy; 2023-2024 AzToolbox version 20241115.1 <br />
                    Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription (@System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier) and Blazorise with Fluent 2 design
                </Paragraph>
            </LayoutFooter>
        }
    </Layout>
</CascadingValue>

<style>
    .barSplitter {
        border-left: 1px solid #afafaf;
        margin: 0 2px 0 2px;
        height: 35px;
    }
</style>

@code {
    private Bar layoutBar = new();
    private bool OnDesktop
    {
        get
        {
            var wid = JSRuntime.Invoke<int>("getWindowWidth");
            return (wid >= 960) ;
        }
    }

    /*
    private void DebugClick()
        {
        Console.WriteLine("DEBUG");
    }
    */

    private bool showHeader = true;
    public bool ShowHeader
    {
        get => showHeader;
        set
        {
            showHeader = value;
            StateHasChanged();
        }
    }
    private bool showFooter = true;
    public bool ShowFooter
    {
        get => showFooter;
        set
        {
            showFooter = value;
            StateHasChanged();
        }
    }
}